<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button style="color:white"></ion-menu-button>
    </ion-buttons>
    <ion-title>Timetable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
<ion-card>
<ion-card-content>
  <ion-row>
    <ion-col size="6" class="br bb datetime-btn" text-center>
      <ion-item no-padding text-center>
        <ion-label position="stacked" class="fw700 text-primary">
          <h2>
          <ion-icon name="calendar" slot="start" class="text-primary"></ion-icon>
          From
        </h2>
        </ion-label>
        <ion-datetime no-padding class="text-primary" displayFormat="MM/DD/YYYY" pickerFormat="YYYY-MM-DD" min="2016" max="2050"
          [(ngModel)]="dateComp.from"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="6" class="bb datetime-btn" text-center>
      <ion-item no-padding text-center>
        <ion-label position="stacked" class="fw700 text-primary">
          <h2>
          <ion-icon name="calendar" slot="start" class="text-primary"></ion-icon>
          To
        </h2>
        </ion-label>
        <ion-datetime  no-padding class="text-primary" displayFormat="MM/DD/YYYY" pickerFormat="YYYY-MM-DD" min="2016" max="2050"
          [(ngModel)]="dateComp.to"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  
</ion-card-content>
    </ion-card>
  <ion-button style=" border-radius: 4px;
  width: 100%;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  height: 40px;" full (click)="LoadTimeTable()" icon-left size="medium" expand="full" class="btnstyle2" color="dark" tappable>
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="search"></ion-icon>
    View Timetable
  </ion-button>


   


    <div>
      <ion-item style=" border: 1px solid #ffffff;
      border-radius: 4px;
      box-shadow: 1px 1px 1px #e0dfdf;
  " (click)="LoadTimeTableDetails(att.TT_ID)" class="card itemdata"  tappable margin-bottom *ngFor="let att of TTListModel">
        <ion-thumbnail slot="start">
          <!-- <img src="assets/img/clockLogo.png"> -->
          <ion-grid>
              <ion-row>
                <ion-col>
                    <img src="assets/img/clockLogo.png">
                </ion-col>
              </ion-row>
            </ion-grid>

        </ion-thumbnail>
        <ion-label>
      
            <h2>
                <!-- <strong>  {{att.TT_DATE | date:'fullDate'}}  </strong> -->
                <strong> {{ momentjs(att.AT_DATE).format('dddd') }},  {{ momentjs(att.AT_DATE).format('DD/MM/YYYY') }}</strong>
                  
                <!-- <strong>{{att.TT_DATE | date:'EEEE'}}</strong>               -->
              </h2>
   
          <h3>
            <ion-badge  *ngIf="helper.GetTimeTableState(att.TT_STATE)=='Working day'" slot="start" color="secondary" class="rooms">
              <strong>From {{att.FROM_DATE_TIME  | slice:11:16}}
                <!-- {{att.FROM_DATE_TIME | date:DefaultDateFormat}} -->
                 </strong>
              <strong>To  {{att.TO_DATE_TIME | slice:11:16}}
                <!-- {{att.TO_DATE_TIME | date:DefaultDateFormat}} -->
              </strong>
            </ion-badge>
            <br/>
            <ion-badge *ngIf="helper.GetTimeTableState(att.TT_STATE)=='Off day'" slot="start" color="success" class="rooms">
              <strong>
                <!-- {{helper.GetTimeTableState(att.TT_STATE)}} -->
                Off day
              </strong>
            </ion-badge>
            <ion-badge *ngIf="helper.GetTimeTableState(att.TT_STATE)=='Working day'" slot="start" color="warning" class="rooms">
              <strong>{{helper.GetTimeTableState(att.TT_STATE)}}</strong>
            </ion-badge>
        
          </h3>
          <!-- <h3>
            <ion-badge color="tertiary">Click here to show details</ion-badge>
          </h3> -->
        </ion-label>
      </ion-item>
    </div>


    <!-- <div style="overflow-x:auto;">

      <ion-grid>
        <ion-row>
         
          <ion-col class="thro">DATE </ion-col>
          <ion-col class="thro">To work </ion-col>
          <ion-col class="thro">From Time </ion-col>
          <ion-col class="thro">To Time </ion-col>
    
          
        </ion-row>

        <ion-row (click)="LoadTimeTableDetails(att.TT_ID)" *ngFor="let att of TTListModel" class="ro">
         
              <ion-col>{{att.TT_DATE  | date:'yyyy/MM/dd'}}</ion-col>
              <ion-col>{{att.FROM_DATE_TIME  | date:'HH:mm'}}</ion-col>
              <ion-col>{{att.TO_DATE_TIME  | date:'HH:mm'}}</ion-col>
              <ion-col> {{helper.GetTTStatus(att.TT_STATE)}}</ion-col>
            
          
        </ion-row>
      </ion-grid>
    </div> -->
  



</ion-content>