<ion-header >
   
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color:white"></ion-menu-button>
    </ion-buttons>
    <ion-title> Execuse Request</ion-title>
  </ion-toolbar>
   
</ion-header>

<ion-content padding>
  <form [formGroup]="execuseForm" (submit)="submitExecuse()">

 


    <ion-item>
        <ion-label>Execuse Date</ion-label>
        <ion-datetime max="2050-01-01" [formControl]="execuseForm.controls['execuseDate']" displayFormat="YYYY/MM/DD" [(ngModel)]="excModel.excuse_date" name="excuse_date"></ion-datetime>
      </ion-item>
      <div *ngIf="!execuseForm.controls.execuseDate.valid" class="validator-error">
        <p style="color:red">Execuse Date field is required</p>
      </div>


    <ion-item>
      <ion-label>From Time</ion-label>
      <ion-datetime [formControl]="execuseForm.controls['fromTime']" displayFormat="HH:mm" [(ngModel)]="excModel.from_time" name="from_time"></ion-datetime>
    </ion-item>
    <div *ngIf="!execuseForm.controls.fromTime.valid" class="validator-error">
      <p style="color:red">From time field is required</p>
    </div>


    <ion-item>
      <ion-label>To Time</ion-label>
      <ion-datetime [formControl]="execuseForm.controls['toTime']" displayFormat="HH:mm" [(ngModel)]="excModel.to_time" name="to_time"></ion-datetime>
    </ion-item>
    <div *ngIf="!execuseForm.controls.toTime.valid" class="validator-error">
      <p style="color:red">To time field is required</p>
    </div>


    <ion-item class="item-leave-height">
      <ion-label>Pay Status</ion-label>
      <ion-select  [formControl]="execuseForm.controls['payStatus']" [(ngModel)]="excModel.pay_status" name="pay_status">
        <ion-select-option selected value="0">Paid</ion-select-option>
        <ion-select-option value="1">Unpaid</ion-select-option>
      </ion-select>
    </ion-item>
  
    <div *ngIf="!execuseForm.controls.payStatus.valid && submited" class="validator-error">
      <p style="color:red">Pay status field is required</p>
    </div>


    <ion-item class="item-leave-height">
      <ion-label>Reasons</ion-label>
      <!-- <ion-select  [formControl]="execuseForm.controls['rasons']" [(ngModel)]="excModel.reason_id" name="reason_id">
        <ion-select-option *ngFor="let item of resons" value="{{item.reason_id}}">{{item.reason}}</ion-select-option>
      </ion-select> -->
    
      <ion-select style="padding:7px;max-width: 76%;" interface="action-sheet" [formControl]="execuseForm.controls['rasons']" [(ngModel)]="excModel.reason_id" name="excModel.reason_id">
        <ion-select-option *ngFor="let item of resons;let idx = index" selected="{{(idx==0).toString()}}" value="{{item.reason_id}}" value="{{item.reason_id}}">{{item.reason}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="!execuseForm.controls.rasons.valid  && submited" class="validator-error">
      <p style="color:red">Reason field is required</p>
    </div>
<br>
    <div>
        <ion-label fixed>Description :</ion-label>
      <ion-textarea style="border: 1px solid #d9d9d9;border-radius: 4px" [formControl]="execuseForm.controls['description']" type="text" [(ngModel)]="excModel.desc" name="desc"></ion-textarea>
    </div>
    <div *ngIf="!execuseForm.controls.description.valid && submited" class="validator-error">
      <p style="color:red">Description field is required</p>
    </div>



    <!-- <div padding>
      <button ion-button round color="primary" block>submit</button>
    </div> -->
    <!-- [disabled]="!execuseForm.valid" -->
    <ion-button style=" border-radius: 4px;
    width: 100%;
    background: #250d5b;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    height: 40px;"  full (click)="submitExecuse()" icon-left size="medium" expand="full"  color="dark" tappable>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="paper"></ion-icon>
        Submit
    </ion-button>
    

  </form>
</ion-content>
