<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button style="color:white"></ion-menu-button>
    </ion-buttons> -->

    <ion-buttons slot="start" (click)="Back()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back" class="backIcon"></ion-icon>
    </ion-buttons>

    <ion-title>Change Password</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content padding>
  <form (submit)="ChangePassword()">
    <ion-list>

        <ion-item class="inputstyle">
            <ion-label class="wcLabel">
              <p>
                <ion-icon name="lock" item-start></ion-icon>
              </p>
    
            </ion-label>
            <ion-input placeholder="empID" type="text" [(ngModel)]="empID" name="empID"></ion-input>
          </ion-item>

          <br>
          
      <ion-item class="inputstyle">
        <ion-label class="wcLabel">
          <p>
            <ion-icon name="lock" item-start></ion-icon>
          </p>

        </ion-label>
        <ion-input placeholder="Old Password" type="password" [(ngModel)]="OldPassword" name="OldPassword"></ion-input>
      </ion-item>
<br>

      <ion-item class="inputstyle">
        <ion-label class="wcLabel">
          <p>
            <ion-icon name="lock" item-start></ion-icon>
          </p>

        </ion-label>
        <ion-input placeholder="New Password" type="password" [(ngModel)]="NewPassword" name="NewPassword"></ion-input>
      </ion-item>
<br>
      <ion-item class="inputstyle">
        <ion-label class="wcLabel">
          <p>
            <ion-icon name="lock" item-start></ion-icon>
          </p>

        </ion-label>
        <ion-input placeholder="Confirm Password" type="password" [(ngModel)]="ConfirmPassword" name="ConfirmPassword"></ion-input>
      </ion-item>
<br>
      <ion-button full class="btnstyle2" (click)="ChangePassword()" icon-left size="medium" expand="full"  color="dark"
        tappable>
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon style="color:white" name="paper"></ion-icon>
        Submit
      </ion-button>


      <!-- <div padding>
        <button ion-button round color="primary" block>Change Password</button>
      </div> -->

    </ion-list>
  </form>
</ion-content>