ion-badge.rooms.ion-color.ion-color-secondry.hydrated {
    background: mediumpurple;
    color: white;
    padding: 4px;
    box-shadow: 1px 1px 1px solid lightgoldenrodyellow;
    box-shadow: 3px 2px 1px #e0dfdf;
}

ion-item.List_.item.hydrated.item-label {
    border-right: 1px solid lightgray;
}