<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button style="color:white"></ion-menu-button>
    </ion-buttons>
    <ion-title>Execuses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>

      <ion-row>
        <ion-col size="6" class="br bb datetime-btn" text-center>
          <ion-item no-padding text-center>
            <ion-label position="stacked" class="fw700 text-primary">
              <h2>
                <ion-icon name="calendar" slot="start" class="text-primary"></ion-icon>
                From
              </h2>
            </ion-label>
            <ion-datetime no-padding class="text-primary" displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" min="2016"
              max="2050" [(ngModel)]="dateComp.from"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="bb datetime-btn" text-center>
          <ion-item no-padding text-center>
            <ion-label position="stacked" class="fw700 text-primary">
              <h2>
                <ion-icon name="calendar" slot="start" class="text-primary"></ion-icon>
                To
              </h2>
            </ion-label>
            <ion-datetime no-padding class="text-primary" displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" min="2016"
              max="2050" [(ngModel)]="dateComp.to"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-button style=" border-radius: 4px;
  width: 100%;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  height: 40px;" full (click)="LoadExecuses()" icon-left size="medium" expand="full"  color="dark" tappable>
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="search"></ion-icon>
    View Execuses
  </ion-button>

  
    <ion-item class="List_"   tappable margin-bottom *ngFor="let lev of exList">
      <ion-thumbnail slot="start">
        <!-- <img src="assets/img/vac.png"> -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/img/vac.png">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-thumbnail>
      <ion-label>
    
        
          <h3 *ngIf="lev.LV_TITLE!='null' && lev.LV_TITLE!=''">
              <ion-badge slot="start" color="secondry" class="rooms">
                  <strong>Leave: {{lev.LV_TITLE}}</strong>
                </ion-badge>
              </h3>
        

          <h3>

           <ion-badge slot="start" color="secondry" class="rooms">
         
            <strong  *ngIf="lev.START_DATE!='null'">  
                <span class="Tx_" >Date:</span>  
                 {{ momentjs(lev.START_DATE).format('DD/MM/YYYY') }}
            
              </strong>

              <strong  *ngIf="lev.END_DATE!='null'">
                <span class="Tx_">-</span>  
                 {{ momentjs(lev.END_DATE).format('DD/MM/YYYY') }}
               </strong>

            </ion-badge>



            </h3>

         

          <h3>
            <ion-badge slot="start" color="secondry" class="rooms">
                <strong  *ngIf="lev.START_TIME!='null'">
                 <span class="Tx_">From:</span>  
    {{lev.START_TIME  | slice:11:16}}
                </strong>
            </ion-badge>
            </h3>

            <h3>
              <ion-badge slot="start" color="secondry" class="rooms">
                  <strong  *ngIf="lev.END_TIME!='null'">
                   <span class="Tx_">To:</span>  
           {{lev.END_TIME  | slice:11:16}}
                 
                  </strong>
              </ion-badge>
              </h3>

          <strong></strong>
               

   


        <!-- <h3>
          <ion-badge slot="start" color="warning" class="rooms">
            <strong>From {{lev.START_DATE | date:DefaultDateFormat}}</strong>
          </ion-badge>
        </h3>


        <h3>
            <ion-badge slot="start" color="warning" class="rooms">
              <strong>To {{lev.END_DATE | date:DefaultDateFormat}}</strong>
            </ion-badge>
          </h3> -->

          <h3>
              <ion-badge slot="start" color="secondry" class="rooms">
                <strong>Reason: {{lev.REASON_TITLE }}</strong>
              </ion-badge>
            </h3>

          

        <!-- <h3>

          <ion-badge slot="start" color="success" class="rooms">
            <strong>Leave ID {{lev.LV_ID}}</strong>
          </ion-badge>

        </h3> -->


      </ion-label>
    </ion-item>
  


  <!-- 
  <div style="overflow-x:auto;">
    <ion-card>


      <ion-grid>
        <ion-row nowrap>

          <ion-col class="thro">Execuse ID</ion-col>
          <ion-col class="thro">Excuses Description</ion-col>
          <ion-col class="thro"></ion-col>      
        </ion-row>

        <ion-row nowrap *ngFor="let lev of exList" class="ro">
          <ion-col>{{lev.LV_ID}}</ion-col>
          <ion-col>{{lev.LV_TITLE}}</ion-col>
          <ion-col>      
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card>
  </div> -->








</ion-content>