<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button style="color:white"></ion-menu-button>
    </ion-buttons>
    <ion-title>Leaves</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
  <ion-row>
    <ion-col size="6" class="br bb datetime-btn" text-center>
      <ion-item no-padding text-center>
        <ion-label position="stacked" class="fw700 text-primary">
          <h2>
            <ion-icon name="calendar" slot="start" class="text-primary"></ion-icon>
            From
          </h2>
        </ion-label>
        <ion-datetime no-padding class="text-primary" displayFormat="MM/DD/YYYY" pickerFormat="YYYY-MM-DD" min="2016"
          max="2050" [(ngModel)]="dateComp.from"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="6" class="bb datetime-btn" text-center>
      <ion-item no-padding text-center>
        <ion-label position="stacked" class="fw700 text-primary">
          <h2>
            <ion-icon name="calendar" slot="start" class="text-primary"></ion-icon>
            To 
          </h2>
        </ion-label>
        <ion-datetime no-padding class="text-primary" displayFormat="MM/DD/YYYY" pickerFormat="YYYY-MM-DD" min="2016"
          max="2050" [(ngModel)]="dateComp.to"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
        </ion-card-content>
    </ion-card>
  <ion-button style=" border-radius: 4px;
  width: 100%;
  
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  height: 40px;" full (click)="GetLeaveList()" icon-left size="medium" expand="full" class="btnstyle2" color="dark" tappable>
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="search"></ion-icon>
    View Leaves
  </ion-button>




  <!-- <div>
    <ion-item color="medium" tappable margin-bottom *ngFor="let att of TTListModel">
      <ion-thumbnail slot="start">
        <img src="assets/img/clockLogo.png">

      </ion-thumbnail>
      <ion-label>
        <h2>
          <strong>{{att.TT_DATE | date:'yyyy/MM/dd'}}</strong>
        </h2>
        <h3>
          <ion-badge slot="start" color="secondary" class="rooms">
            <strong>From {{att.FROM_DATE_TIME | date:'HH:mm'}} </strong>
            <strong>To {{att.TO_DATE_TIME | date:'HH:mm'}}</strong>
          </ion-badge>
          <br/>
          <ion-badge *ngIf="helper.GetTimeTableState(att.TT_STATE)=='Off day'" slot="start" color="success" class="rooms">
            <strong>{{helper.GetTimeTableState(att.TT_STATE)}}</strong>
          </ion-badge>
          <ion-badge *ngIf="helper.GetTimeTableState(att.TT_STATE)=='Working day'" slot="start" color="warning" class="rooms">
            <strong>{{helper.GetTimeTableState(att.TT_STATE)}}</strong>
          </ion-badge>
        </h3>


      </ion-label>
    </ion-item>
  </div> -->


  <div>
    <ion-item (click)="GetLeaves(lev.LV_ID)"  class="card itemdata" tappable margin-bottom *ngFor="let lev of LeavList">
      <ion-thumbnail slot="start">
        <!-- <img src="assets/img/vac.png"> -->

        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/img/vac.png">
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-thumbnail>
      <ion-label>

        <h2> <strong>{{lev.START_DATE | date:DefaultDateFormat}} </strong>
          <strong *ngIf="lev.END_DATE!='null'">To {{lev.END_DATE | date:DefaultDateFormat}}</strong>
        </h2>

        <h2 *ngIf="lev.LV_TITLE!='null' && lev.LV_TITLE!=''"><strong>{{lev.LV_TITLE}}</strong></h2>
        <h3 *ngIf="lev.START_TIME!='null' && lev.START_TIME!=''">
          <strong>From {{lev.START_TIME | date:'DefaultTimeFormat'}} To {{lev.END_TIME | date:'DefaultTimeFormat'}}</strong>
        </h3>
        <h3>
          <ion-badge slot="start" color="warning" class="rooms">
            <strong>{{lev.REASON_TITLE}}</strong>
          </ion-badge>
        </h3>
        <!-- <h3>

          <ion-badge slot="start" color="warning" class="rooms">
            <strong>ID {{lev.LV_ID}}</strong>
          </ion-badge>

        </h3> -->
        <!-- <h3>
          <ion-badge color="tertiary">Click here to leave details</ion-badge>
        </h3> -->

        <!-- <strong>{{att.TT_DATE | date:'yyyy/MM/dd'}}</strong> -->


        <!-- <ion-badge slot="start" color="warning" class="rooms">
          <strong>Leave Title {{lev.LV_TITLE}}</strong>
        </ion-badge>
       


        <h3>
          <ion-badge slot="start" color="warning" class="rooms">
            <strong>From {{lev.START_DATE | date:DefaultDateFormat}}</strong>
          </ion-badge>
        </h3>


        <h3>
          <ion-badge slot="start" color="warning" class="rooms">
            <strong>To {{lev.END_DATE | date:'yyyy/MM/dd'}}</strong>
          </ion-badge>
        </h3>

      


        
        -->


      </ion-label>
    </ion-item>
  </div>



  <!-- <div style="overflow-x:auto;">




    <ion-card>


      <ion-grid>
        <ion-row nowrap>

          <ion-col class="thro">Leave ID</ion-col>
          <ion-col class="thro">Leave Title</ion-col>
        
        </ion-row>

        <ion-row nowrap *ngFor="let lev of LeavList" class="ro" (click)="GetLeaves(lev.LV_ID)">
          <ion-col>{{lev.LV_ID}}</ion-col>
          <ion-col>{{lev.LV_TITLE}}</ion-col>
         

        </ion-row>
      </ion-grid>
    </ion-card>
  </div> -->
  <!-- <ion-card>
        
              <ion-card-header>
        
                  <ion-grid>
                    <ion-row>
                      <ion-col col-10> Leave Details</ion-col>
                      <ion-col col-2>               
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>
        
        
            <ion-grid>
              <div>
                  <ion-row nowrap class="ro">Leave Id : {{LeavesTab.LV_ID}}</ion-row>
                  <ion-row nowrap class="ro">Leave Title : {{LeavesTab.LV_TITLE}}</ion-row>
                  <ion-row nowrap class="ro">Leave From : {{LeavesTab.START_DATE}}</ion-row>
                  <ion-row nowrap class="ro">Leave To : {{LeavesTab.END_DATE}}</ion-row>
                  <ion-row nowrap class="ro">Leave Notes : {{LeavesTab.LV_NOTE}}</ion-row>
                  <ion-row nowrap class="ro">Leave Reason : {{LeavesTab.REASON_TITLE}}</ion-row>
                  <ion-row nowrap class="ro">Leave Status : {{helper.getPayStatus(LeavesTab.PAY_STATUS)}}</ion-row>
              </div>
               
            </ion-grid>
          </ion-card> -->

</ion-content>