<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button style="color:white"></ion-menu-button>
    </ion-buttons>
    <ion-title>Duties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
  <ion-row>
    <ion-col size="6" class="br bb datetime-btn" text-center>
      <ion-item no-padding text-center>
        <ion-label position="stacked" class="fw700 text-primary">
          <h2>
            <ion-icon name="calendar" slot="start" class="text-primary"></ion-icon>
            From
          </h2>
        </ion-label>
        <ion-datetime no-padding class="text-primary" displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" min="2016"
          max="2050" [(ngModel)]="dateComp.from"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="6" class="bb datetime-btn" text-center>
      <ion-item no-padding text-center>
        <ion-label position="stacked" class="fw700 text-primary">
          <h2>
            <ion-icon name="calendar" slot="start" class="text-primary"></ion-icon>
            To
          </h2>
        </ion-label>
        <ion-datetime no-padding class="text-primary" displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" min="2016"
          max="2050" [(ngModel)]="dateComp.to"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
        </ion-card-content>
    </ion-card>
  <ion-button style=" border-radius: 4px;
  width: 100%;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  height: 40px;" full (click)="GetDutiesList()" icon-left size="medium" expand="full"  color="dark" tappable>
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="search"></ion-icon>
    View Duties
  </ion-button>


  <div>
    <ion-item  class="List_" tappable margin-bottom *ngFor="let lev of DutiyList">
      <ion-thumbnail slot="start">
        <!-- <img src="assets/img/vac.png"> -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/img/vac.png">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-thumbnail>
      <ion-label>
        <h2>
          <!-- <strong>{{att.TT_DATE | date:'yyyy/MM/dd'}}</strong> -->
        </h2>
        <h3>
          <ion-badge slot="start" color="secondry" class="rooms">
            <strong>Title: {{lev.LV_TITLE}}</strong>
          </ion-badge>
        </h3>

        <h3>
          <ion-badge slot="start" color="secondry" class="rooms">

              <strong  *ngIf="lev.START_DATE!='null'">
                  <span class="Tx_">From:</span>  
   
                   {{ momentjs(lev.START_DATE).format('ddd') || 'n/a' }},  {{ momentjs(lev.START_DATE).format('DD/MM/YYYY') || 'n/a'}}
                 </strong>

          </ion-badge>
        </h3>

        <h3>
          <ion-badge slot="start" color="secondry" class="rooms">
              <strong  *ngIf="lev.END_DATE!='null'">
                  <span class="Tx_">To:</span>  
   
                   {{ momentjs(lev.END_DATE).format('ddd') || 'n/a' }},  {{ momentjs(lev.END_DATE).format('DD/MM/YYYY') || 'n/a'}}
                 </strong>

        
          </ion-badge>
        </h3>

        <!-- <h3>
          <ion-badge slot="start" color="warning" class="rooms">
            <strong>Reason {{lev.REASON_TITLE}}</strong>
          </ion-badge>
        </h3> -->



        <h3>

          <ion-badge slot="start" color="secondry" class="rooms">
            <strong>Leave ID: {{lev.LV_ID}}</strong>
          </ion-badge>

        </h3>


      </ion-label>
    </ion-item>
  </div>


  <!-- <div style="overflow-x:auto;">




    <ion-card>


      <ion-grid>
        <ion-row nowrap>

          <ion-col class="thro">Duity ID</ion-col>
          <ion-col class="thro">Duity Title</ion-col>
          <ion-col class="thro"></ion-col>

        </ion-row>

        <ion-row nowrap *ngFor="let lev of DutiyList" class="ro">
          <ion-col>{{lev.LV_ID}}</ion-col>
          <ion-col>{{lev.LV_TITLE}}</ion-col>
          <ion-col>
            <button ion-button full (click)="GetDuity(lev.LV_ID)">Details</button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  <ion-card>

    <ion-card-header>

      <ion-grid>
        <ion-row>
          <ion-col col-10> Duity Details</ion-col>
          <ion-col col-2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

  </ion-card> -->



</ion-content>