<!-- chrome://inspect/#devices -->
<ion-content  [scrollY]="false" >
  <div class="bgnd2" style="height:100%">
    <div class="logo" style="height: 200px;margin: auto; text-align: center;">
      <img src="../../../assets/img/logo_white.png" class="Logo_">
    </div>
    <div class="w100">
      <div padding-horizontal text-center class="animated fadeInDown">
        <h4 no-margin>
          <ion-text color="light">
         </ion-text>
        </h4>
        <form  class="list-form">

          <div class="inner_content_X ">
          <ion-item style="margin-bottom: 10px;" no-padding class="inputstyle animated fadeInUp">
            <ion-label class="wcLabel">
              <p>
                <ion-icon name="mail" item-start></ion-icon>
              </p>
            </ion-label>
            <ion-input placeholder="Employee ID"  type="email" [(ngModel)]="account.empId" name="empId"></ion-input>
          </ion-item>
          
          <ion-item style="margin-bottom:2px;" no-padding class="inputstyle animated fadeInUp">
            <ion-label class="wcLabel">
              <p>
                <ion-icon name="lock" item-start></ion-icon>
              </p>

            </ion-label>

            <ion-input placeholder="Password"  type="password" [(ngModel)]="account.password" name="password"></ion-input>
          </ion-item>

        </div>
          <div>
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <button expand="full" full type="submit" icon-left size="medium" expand="full" class="btnstyle2"
                    color="dark" (click)="doLogin()" >
                   Login
                  </button>
                </ion-col>

              </ion-row>
         
            </ion-grid>
          </div>
        </form>
      </div>
    </div>


      <!-- <div class="Box_X">
    
      </div> -->
   

</div>
</ion-content>


<ion-footer>
    <ion-toolbar  color="primary">
        <a  (click)="goToRegister()" class="registerlink">Register New Employee</a>
    </ion-toolbar>
  </ion-footer>


