// :host {
//     ion-content {
//         --background:
//          linear-gradient(135deg, var(--ion-color-dark), 
//          var(--ion-color-primary));
//     }
// }

html[dir="ltr"] {
    .back-button-icon.icon-md.back-button-icon-md.ion-md-arrow-back {
        transform: rotate(180deg);
    }

    .back-button-icon.icon-ios.back-button-icon-ios.ion-ios-arrow-back {
        transform: rotate(180deg);
        padding: 0 5px;
    }
}
.alert-checkbox-icon.sc-ion-alert-md {
    left: 26px;
    top: 0;
    border-radius: 2px;
    position: relative;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #fffdfd;
    contain: strict;
}
.select-icon-inner {
    left: -4px !important;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: var(--icon-color);
    pointer-events: none;
}


