<!-- <ion-header>
  <ion-toolbar color="primary">
 

  </ion-toolbar>
</ion-header> -->
<ion-content  [scrollY]="false">




    <div class="bgnd2" style="height:100%">
        <ion-buttons  (click)="Back()">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back" class="backIcon"></ion-icon>
          </ion-buttons>
  
    <div class="logo" style="margin: auto;text-align: center;">
      <img src="../../../assets/img/logo_white.png" class="Logo_">
      <!-- <img src="assets/img/ionbooking-ico.png"> -->
    </div>

    <div class="w100">
    <div text-center class="animated fadeInDown">
      <form  class="list-form ">

        <div class="inner_content_X">
        <ion-item style="margin-bottom: 10px;" no-padding class="inputstyle animated fadeInUp" >
          <ion-label class="wcLabel">
            <h3>
              <ion-icon name="mail" item-start></ion-icon>
            </h3>
          </ion-label>
          <ion-input placeholder="Employee ID" type="email" [(ngModel)]="usr.emp_id" name="usr.emp_id"></ion-input>
        </ion-item>
        <ion-item style="margin-bottom: 10px;" no-padding class="inputstyle animated fadeInUp">
          <ion-label class="wcLabel">
            <h3>
              <ion-icon name="lock" item-start></ion-icon>
            </h3>
          </ion-label>
          <ion-input placeholder="Password" type="password" [(ngModel)]="usr.emp_pwd" name="usr.emp_pwd"></ion-input>
        </ion-item>
        <ion-item style="margin-bottom: 10px;" no-padding class="inputstyle animated fadeInUp">
          <ion-label class="wcLabel">
            <h3>
              <ion-icon name="lock" item-start></ion-icon>
            </h3>
          </ion-label>
          <ion-input placeholder="Confirm password" type="password" [(ngModel)]="passwordConfirm" name="passwordConfirm"></ion-input>
        </ion-item>

      </div>

        <button class="btnstyle2" full (click)="signUp()" icon-left size="medium" expand="full" color="dark"
          >
          <!-- <ion-ripple-effect></ion-ripple-effect> -->
          <ion-icon style="color:white" name="paper"></ion-icon>
          Submit
        </button>
      </form>
    </div>

    </div>


  </div>
</ion-content>


<ion-footer>
    <ion-toolbar color="primary">
        <a  (click)="goToSettings()" class="Settingslink">Server Settings</a>
    </ion-toolbar>
  </ion-footer>