<ion-header>
  <ion-toolbar color="primary" class="animated fadeIn">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button style="color:white"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        Dashboard
        <ion-text color="secondary" class="fw700"> </ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
      <div [ngStyle]="getcenterStyle()">
        <h1>Attendance Summary</h1>
        <!-- <ion-label>Days Statistics</ion-label> -->






        <ion-item>
          <ion-label class="text-1x fw700">
            <ion-text color="dark">Select Period</ion-text>
          </ion-label>
          <!--  -->
          <ion-select style="padding:0px;" value="29" [(ngModel)]="Peroid" (ionChange)="ReloadChart()">
            <ion-select-option value="0">
              Today
            </ion-select-option>
            <ion-select-option value="1">
              Yesterday
            </ion-select-option>
            <ion-select-option value="6">
              Last 7 Days
            </ion-select-option>
            <ion-select-option value="29">
              Last 30 Days
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <div class="current mat-headline" [ngStyle]="getOverlayStyle()">Delay<br />
              {{attSummary.workedWithDelay_Per | number:'1.2-2' }}%</div>
            <round-progress [color]="'#f4e542'" [background]="'#4f24ac'" style="display: initial !important;" [radius]="90"
              [rounded]="true" [current]="attSummary.workedWithDelay_Per" [max]="100"> test</round-progress>
          </ion-col>
          <ion-col col-4>
            <div class="current mat-headline" [ngStyle]="getOverlayStyle()">Absent<br /> {{attSummary.absent_Per |
              number:'1.2-2' }}%</div>
            <round-progress [color]="'#ed4025'" [background]="'#4f24ac'" style="display: initial !important;" [radius]="90"
              [rounded]="true" [current]="attSummary.absent_Per" [max]="100"> test</round-progress>
          </ion-col>
          <ion-col col-4>
            <div class="current mat-headline" [ngStyle]="getOverlayStyle()">Present<br />
              {{attSummary.workedWithDelay_Per | number:'1.2-2' }}%</div>
            <round-progress [background]="'#4f24ac'" style="display: initial !important;" [radius]="90" [rounded]="true"
              [current]="attSummary.workedWithDelay_Per" [max]="100"> test</round-progress>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>



  <div padding>
    <ion-segment [(ngModel)]="CurrentTab">
      <ion-segment-button class="dashtab" value="TimeTable">
        <p> Timetable</p>
      </ion-segment-button>
      <ion-segment-button class="dashtab" value="Attendance">
        <p>Attendance</p>
      </ion-segment-button>
      <ion-segment-button class="dashtab" value="Punches">
        <p>Punches</p>
      </ion-segment-button>
      <ion-segment-button class="dashtab" value="Statistical">
        <p>Information</p>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="CurrentTab">
    <div *ngSwitchCase="'TimeTable'">
      <div>
        <ion-item class="card itemdata" tappable margin-bottom *ngFor="let att of TTListModel">
          <ion-thumbnail slot="start">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img src="assets/img/clockLogo.png">
                </ion-col>
              </ion-row>
            </ion-grid>


          </ion-thumbnail>
          <ion-label>
            <!-- EEEE, MMMM d, y, h:mm:ss a zzzz -->
            <h2> 
              <!-- <strong>
              {{att.TT_DATE | date:'EEEE'}}
            </strong> -->
            <strong> {{ momentjs(att.TT_DATE).format('dddd') }},  {{ momentjs(att.TT_DATE).format('DD/MM/YYYY') }}</strong>
    
          </h2>
            <!-- <h3> -->
              <!-- <strong>{{att.TT_DATE | date:DefaultDateFormat}}</strong> -->
            <!-- </h3> -->
            <h3>
              <div *ngIf="att.TT_STATE!='null'&&helper.GetTimeTableState(att.TT_STATE)!='Off day'">
                <ion-badge slot="start" color="secondary" class="rooms">
                  <!-- <strong>From {{att.FROM_DATE_TIME | date:DefaultTimeFormat}} </strong>
                  <strong>To {{att.TO_DATE_TIME | date:DefaultTimeFormat}}</strong> -->
                  <strong>From {{att.FROM_DATE_TIME | slice:11:16}} </strong>
                  <strong>To {{att.TO_DATE_TIME | slice:11:16}}</strong>

                </ion-badge>
                <br />
              </div>

              <div *ngIf="att.TT_STATE=='null'">
                <ion-badge slot="start" color="secondary" class="rooms">
                  <!-- <strong>From {{att.FROM_DATE_TIME | date:DefaultTimeFormat}} </strong>
                                <strong>To {{att.TO_DATE_TIME | date:DefaultTimeFormat}}</strong> -->
                  <strong>No Timetable </strong>

                </ion-badge>
                <br />
              </div>

              <ion-badge  slot="start" color="success" class="rooms" *ngIf="helper.GetTimeTableState(att.TT_STATE)=='Off day'" slot="start" >
                <strong>
                  <!-- {{helper.GetTimeTableState(att.TT_STATE)}} -->
                  Off day
                </strong>
              </ion-badge>
              <ion-badge *ngIf="helper.GetTimeTableState(att.TT_STATE)=='Working day'" slot="start" color="warning"
                class="rooms">
                <strong>{{helper.GetTimeTableState(att.TT_STATE)}}</strong>
              </ion-badge>
            </h3>

            <!-- <ion-badge color="warning">
           
           
          </ion-badge> -->
          </ion-label>
        </ion-item>
      </div>



    </div>


    <div *ngSwitchCase="'Attendance'">
      <div>
        <ion-item class="card itemdata" tappable margin-bottom *ngFor="let att of AttendanceTab">
          <ion-thumbnail slot="start">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img src="assets/img/AttendanceLogo.png">
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <!-- <strong>>>>>2222222222{{att.AT_DATE | date:'EEEE'}}</strong> -->
              <strong> {{ momentjs(att.AT_DATE).format('dddd') }},  {{ momentjs(att.AT_DATE).format('DD/MM/YYYY') }}</strong>
    
            </h2>
            <!-- <h3>
              <strong>>>>>2222222222{{att.AT_DATE | date:DefaultDateFormat}}</strong>
              <strong> {{ momentjs(att.PUNCH_DATETIME).format('dddd') }},  {{ momentjs(att.PUNCH_DATETIME).format('DD/MM/YYYY') }}</strong>
    
            </h3> -->
            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left" *ngIf="helper.ToHoursString(att.AT_TOTAL_WORK_DURATION)!='-'">Reg.HRS: {{helper.ToHoursString(att.AT_TOTAL_WORK_DURATION)}}</strong>
                <!-- <strong style="float:left" *ngIf="att.AT_TOTAL_WORK_DURATION==0">Reg.HRS 0</strong>               -->
              </ion-badge>
            </h3>

            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left" *ngIf="helper.ToHoursString(att.AT_TOTAL_WORK_DURATION) !='-' ">Worked Hours: {{helper.ToHoursString(att.AT_TOTAL_WORK_DURATION)}}</strong>
              </ion-badge>
            </h3>


            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left" *ngIf="helper.ToHoursString(att.AT_TOTAL_ABSENT)!='-'">Absent: {{helper.ToHoursString(att.AT_TOTAL_ABSENT)}}</strong>
              </ion-badge>
            </h3>

            <ion-badge *ngIf="helper.ToHoursString(att.AT_TOTAL_WORK_DURATION)=='-' && helper.ToHoursString(att.AT_TOTAL_ABSENT) =='-'" slot="start" color="success" class="rooms">
                <strong>
                 Off day</strong>
            </ion-badge>
               
            <!-- <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left">Overtime {{helper.ToHoursString(att.AT_TOTAL_OVERTIME)}}</strong>
              </ion-badge>
            </h3>
            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left">Duties Overtime {{helper.ToHoursString(att.AT_TOTAL_DUTY_OVERTIME)}}
                </strong>
              </ion-badge>
            </h3>
            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left">Break {{helper.ToHoursString(att.AT_TOTAL_DUTY_OVERTIME)}}</strong>
              </ion-badge>
            </h3> 
            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left">Duties {{helper.ToHoursString(att.AT_TOTAL_DUTIES)}}</strong>
              </ion-badge>
            </h3>
            <h3>
              <ion-badge style="width: 170px" slot="start" color="secondary" class="rooms">
                <strong style="float:left">Excuse {{helper.ToHoursString(att.AT_TOTAL_EXCUSE)}}</strong>
              </ion-badge>
            </h3>-->
          </ion-label>
        </ion-item>
      </div>
    </div>
    <div *ngSwitchCase="'Punches'">
      <div>
        <ion-item class="card itemdata" tappable margin-bottom *ngFor="let att of PunchTable">
          <ion-thumbnail slot="start">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img src="assets/img/fingerprints.png">
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-thumbnail>
          <ion-label>

            <h2>
              <!-- <strong>{{att.PUNCH_DATETIME | date:'EEEE'}}</strong> -->
              <strong> {{ momentjs(att.PUNCH_DATETIME).format('dddd') }},  {{ momentjs(att.PUNCH_DATETIME).format('DD/MM/YYYY') }}</strong>
    
            </h2>
            <!-- <h3>
              <strong>{{att.PUNCH_DATETIME | date:DefaultDateFormat}}</strong>
            </h3> -->

            <h3>
              <!--  -->

              <ion-badge *ngIf="helper.getPunchType(att.PUNCH_TYPE)=='IN'" slot="start" style="    background: #250d5b !important;
              color: white;"
                class="rooms">
                <strong>Punch {{helper.getPunchType(att.PUNCH_TYPE)}} {{att.PUNCH_DATETIME   | slice:11:16 }}</strong>
                <!-- <strong>Punch Type </strong>
                    <br/><br/>
                    <strong>Reader {{att.READER_NAME}} </strong> -->
              </ion-badge>

              <ion-badge *ngIf="helper.getPunchType(att.PUNCH_TYPE)=='OUT'" slot="start" style="background:#ada318"
                class="rooms">
                <strong>Punch {{helper.getPunchType(att.PUNCH_TYPE)}} {{att.PUNCH_DATETIME   | slice:11:16 }}</strong>
                <!-- <strong>Punch Type </strong>
                      <br/><br/>
                      <strong>Reader {{att.READER_NAME}} </strong> -->
              </ion-badge>

            </h3>
            <h3>
              <ion-badge slot="start" color="secondary" class="rooms">
                <strong>Reader {{att.READER_NAME}}</strong>
              </ion-badge>
            </h3>
          </ion-label>
        </ion-item>
      </div>
    </div>
    <ion-card *ngSwitchCase="'Statistical'">
      <ion-card-header>
        Statistical Information
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <div>
            <ion-row>
              <ion-col> Working Days :</ion-col>
              <ion-col> {{attSummary.workingDays}} ({{attSummary.workingDays_Per | number:'1.2-2' }} %)</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Worked Days :</ion-col>
              <ion-col> {{attSummary.workedDays}} ({{attSummary.workedDays_Per | number:'1.2-2' }} %)</ion-col>
            </ion-row>
            <ion-row>
              <ion-col> Worked With Delay:</ion-col>
              <ion-col>{{attSummary.workedWithDelay}} ({{attSummary.workedWithDelay_Per | number:'1.2-2' }} %)</ion-col>
            </ion-row>
            <ion-row>
              <ion-col> Absent :</ion-col>
              <ion-col> {{attSummary.absent}} ({{attSummary.absent_Per | number:'1.2-2' }} %)</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Absent With Duity:</ion-col>
              <ion-col> {{attSummary.absentWithDuity}} ({{attSummary.absentWithDuity_Per | number:'1.2-2' }} %)</ion-col>
            </ion-row>
            <ion-row>
              <ion-col> Vac Days :</ion-col>
              <ion-col> {{attSummary.VacDays}} ({{attSummary.VacDays_Per | number:'1.2-2' }} %)</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Off Days :</ion-col>
              <ion-col> {{attSummary.OffDays}} ({{attSummary.OffDays_Per | number:'1.2-2' }} %)</ion-col>
            </ion-row>
            <ion-row>
              <ion-col> No T.T :</ion-col>
              <ion-col> {{attSummary.NoTT}} ({{attSummary.NoTT_Per | number:'1.2-2' }} %)</ion-col>
            </ion-row>
          </div>

        </ion-grid>

      </ion-card-content>
    </ion-card>


  </div>
  <ion-card>
  </ion-card>
  <ion-card>
  </ion-card>
  <ion-card>
  </ion-card>
</ion-content>